---
const today = new Date();
---

<footer class="footer footer-center block pb-7 pt-7">
  <div class="inline opacity-50">
    <a href="https://oncetold.us" target="_blank">
      Copyright &copy; 2023. <span class="font-bold">
        Oncetold and Not Easily Squished. 🤠☕</span
      >

      Copyright &copy; 2023. Oncetold</a
    >
  </div>
</footer>

<style></style>
